
.texto{
    width: 400px;
    height: 1500px;
    padding: 20px;
    border: 1px solid red;
    overflow: auto;
    
}
.botaoScroll{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: red;
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    display: none;
}